Marathons/Client/Connected Services/CoordinatorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SerializationClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoordinatorService_GetAllRunners_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRunners" />
  </wsdl:message>
  <wsdl:message name="ICoordinatorService_GetAllRunners_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRunnersResponse" />
  </wsdl:message>
  <wsdl:message name="ICoordinatorService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="ICoordinatorService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICoordinatorService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="ICoordinatorService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICoordinatorService_GetRegistrationStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationStatuses" />
  </wsdl:message>
  <wsdl:message name="ICoordinatorService_GetRegistrationStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="ICoordinatorService_GetCharities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharities" />
  </wsdl:message>
  <wsdl:message name="ICoordinatorService_GetCharities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharitiesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICoordinatorService">
    <wsdl:operation name="GetAllRunners">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoordinatorService/GetAllRunners" message="tns:ICoordinatorService_GetAllRunners_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoordinatorService/GetAllRunnersResponse" message="tns:ICoordinatorService_GetAllRunners_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoordinatorService/EditUser" message="tns:ICoordinatorService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoordinatorService/EditUserResponse" message="tns:ICoordinatorService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoordinatorService/GetCountries" message="tns:ICoordinatorService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoordinatorService/GetCountriesResponse" message="tns:ICoordinatorService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoordinatorService/GetRegistrationStatuses" message="tns:ICoordinatorService_GetRegistrationStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoordinatorService/GetRegistrationStatusesResponse" message="tns:ICoordinatorService_GetRegistrationStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharities">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoordinatorService/GetCharities" message="tns:ICoordinatorService_GetCharities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoordinatorService/GetCharitiesResponse" message="tns:ICoordinatorService_GetCharities_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICoordinatorService" type="tns:ICoordinatorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRunners">
      <soap:operation soapAction="http://tempuri.org/ICoordinatorService/GetAllRunners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/ICoordinatorService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/ICoordinatorService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationStatuses">
      <soap:operation soapAction="http://tempuri.org/ICoordinatorService/GetRegistrationStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharities">
      <soap:operation soapAction="http://tempuri.org/ICoordinatorService/GetCharities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ICoordinatorService" binding="tns:BasicHttpBinding_ICoordinatorService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CoordinatorService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>