Marathons/Client/Connected Services/RunnerService/RunnerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RunnerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RunnerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSponsor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sponsor" nillable="true" type="tns:Sponsor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSponsor" nillable="true" type="tns:ArrayOfSponsor" />
  <xs:complexType name="Sponsor">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="charityId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registrationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sponsor" nillable="true" type="tns:Sponsor" />
  <xs:complexType name="Charity">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Charity" nillable="true" type="tns:Charity" />
  <xs:complexType name="ArrayOfRaceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RaceInfo" nillable="true" type="tns:RaceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRaceInfo" nillable="true" type="tns:ArrayOfRaceInfo" />
  <xs:complexType name="RaceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:long" />
      <xs:element minOccurs="0" name="userDateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RaceInfo" nillable="true" type="tns:RaceInfo" />
</xs:schema>