Marathons/Client/Connected Services/RunnerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SerializationClasses" />
  <xs:element name="GetSponsorship">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="runnerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSponsorshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SerializationClasses" minOccurs="0" name="GetSponsorshipResult" nillable="true" type="q1:ArrayOfSponsor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="charityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SerializationClasses" minOccurs="0" name="GetCharityResult" nillable="true" type="q2:Charity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="runnerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SerializationClasses" minOccurs="0" name="GetRacesResult" nillable="true" type="q3:ArrayOfRaceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>