Marathons/Client/Connected Services/AdminService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AdminService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_GetAllCharity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharity" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllCharity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharityResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditCharity_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCharity" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditCharity_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCharityResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddCharity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCharity" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddCharity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCharityResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddVolunteers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVolunteers" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddVolunteers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVolunteersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="GetAllCharity">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllCharity" message="tns:IAdminService_GetAllCharity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllCharityResponse" message="tns:IAdminService_GetAllCharity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCharity">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditCharity" message="tns:IAdminService_EditCharity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditCharityResponse" message="tns:IAdminService_EditCharity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCharity">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddCharity" message="tns:IAdminService_AddCharity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddCharityResponse" message="tns:IAdminService_AddCharity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVolunteers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddVolunteers" message="tns:IAdminService_AddVolunteers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddVolunteersResponse" message="tns:IAdminService_AddVolunteers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllUser" message="tns:IAdminService_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllUserResponse" message="tns:IAdminService_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditUser" message="tns:IAdminService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditUserResponse" message="tns:IAdminService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddUser" message="tns:IAdminService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddUserResponse" message="tns:IAdminService_AddUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCharity">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAllCharity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCharity">
      <soap:operation soapAction="http://tempuri.org/IAdminService/EditCharity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCharity">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddCharity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVolunteers">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddVolunteers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IAdminService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AdminService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>