Marathons/TestingForm/Connected Services/SponsorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SerializationClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISponsorService_GetRunners_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRunners" />
  </wsdl:message>
  <wsdl:message name="ISponsorService_GetRunners_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRunnersResponse" />
  </wsdl:message>
  <wsdl:message name="ISponsorService_SponsorRunner_InputMessage">
    <wsdl:part name="parameters" element="tns:SponsorRunner" />
  </wsdl:message>
  <wsdl:message name="ISponsorService_SponsorRunner_OutputMessage">
    <wsdl:part name="parameters" element="tns:SponsorRunnerResponse" />
  </wsdl:message>
  <wsdl:portType name="ISponsorService">
    <wsdl:operation name="GetRunners">
      <wsdl:input wsaw:Action="http://tempuri.org/ISponsorService/GetRunners" message="tns:ISponsorService_GetRunners_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISponsorService/GetRunnersResponse" message="tns:ISponsorService_GetRunners_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SponsorRunner">
      <wsdl:input wsaw:Action="http://tempuri.org/ISponsorService/SponsorRunner" message="tns:ISponsorService_SponsorRunner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISponsorService/SponsorRunnerResponse" message="tns:ISponsorService_SponsorRunner_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISponsorService" type="tns:ISponsorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRunners">
      <soap:operation soapAction="http://tempuri.org/ISponsorService/GetRunners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SponsorRunner">
      <soap:operation soapAction="http://tempuri.org/ISponsorService/SponsorRunner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ISponsorService" binding="tns:BasicHttpBinding_ISponsorService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SponsorService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>