Marathons/TestingForm/Connected Services/AdminService/SerializationClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SerializationClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SerializationClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCharity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Charity" nillable="true" type="tns:Charity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharity" nillable="true" type="tns:ArrayOfCharity" />
  <xs:complexType name="Charity">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Charity" nillable="true" type="tns:Charity" />
  <xs:complexType name="ArrayOfVolunteer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Volunteer" nillable="true" type="tns:Volunteer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolunteer" nillable="true" type="tns:ArrayOfVolunteer" />
  <xs:complexType name="Volunteer">
    <xs:sequence>
      <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Volunteer" nillable="true" type="tns:Volunteer" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="runnerData" nillable="true" type="tns:RunnerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="roleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="RunnerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RunnerData" nillable="true" type="tns:RunnerData" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
</xs:schema>