Marathons/TestingForm/Connected Services/AdminService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AdminService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllCharity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharity" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCharity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCharityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCharity_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCharity" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCharity_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCharityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCharity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCharity" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCharity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCharityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddVolunteers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVolunteers" />
  </wsdl:message>
  <wsdl:message name="IService1_AddVolunteers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVolunteersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllCharity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCharity" message="tns:IService1_GetAllCharity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCharityResponse" message="tns:IService1_GetAllCharity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCharity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditCharity" message="tns:IService1_EditCharity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditCharityResponse" message="tns:IService1_EditCharity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCharity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCharity" message="tns:IService1_AddCharity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCharityResponse" message="tns:IService1_AddCharity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVolunteers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddVolunteers" message="tns:IService1_AddVolunteers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddVolunteersResponse" message="tns:IService1_AddVolunteers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCharity">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllCharity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCharity">
      <soap:operation soapAction="http://tempuri.org/IService1/EditCharity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCharity">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCharity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVolunteers">
      <soap:operation soapAction="http://tempuri.org/IService1/AddVolunteers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AdminService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>