Marathons/TestingForm/Connected Services/AdminService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AdminService" />
  <xs:element name="GetAllCharity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCharityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdminService" minOccurs="0" name="GetAllCharityResult" nillable="true" type="q1:ArrayOfCharity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCharity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AdminService" minOccurs="0" name="charity" nillable="true" type="q2:Charity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCharityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>