Marathons/TestingForm/Connected Services/InfoService/SerializationClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SerializationClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SerializationClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRaceResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RaceResult" nillable="true" type="tns:RaceResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRaceResult" nillable="true" type="tns:ArrayOfRaceResult" />
  <xs:complexType name="RaceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="marathonId" type="xs:int" />
      <xs:element minOccurs="0" name="raceTime" type="xs:double" />
      <xs:element minOccurs="0" name="runnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RaceResult" nillable="true" type="tns:RaceResult" />
  <xs:complexType name="ArrayOfCharity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Charity" nillable="true" type="tns:Charity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharity" nillable="true" type="tns:ArrayOfCharity" />
  <xs:complexType name="Charity">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Charity" nillable="true" type="tns:Charity" />
  <xs:complexType name="ArrayOfMarathon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marathon" nillable="true" type="tns:Marathon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarathon" nillable="true" type="tns:ArrayOfMarathon" />
  <xs:complexType name="Marathon">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marathon" nillable="true" type="tns:Marathon" />
  <xs:complexType name="ArrayOfEventType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventType" nillable="true" type="tns:EventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventType" nillable="true" type="tns:ArrayOfEventType" />
  <xs:complexType name="EventType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventType" nillable="true" type="tns:EventType" />
</xs:schema>