Marathons/TestingForm/Connected Services/InfoService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SerializationClasses" />
  <xs:element name="GetRaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SerializationClasses" minOccurs="0" name="GetRacesResult" nillable="true" type="q1:ArrayOfRaceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SerializationClasses" minOccurs="0" name="GetCharitiesResult" nillable="true" type="q2:ArrayOfCharity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarathons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarathonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SerializationClasses" minOccurs="0" name="GetMarathonsResult" nillable="true" type="q3:ArrayOfMarathon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SerializationClasses" minOccurs="0" name="GetEventTypesResult" nillable="true" type="q4:ArrayOfEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>