Marathons/Client/Connected Services/SponsorService/SerializationClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SerializationClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SerializationClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRunner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Runner" nillable="true" type="tns:Runner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRunner" nillable="true" type="tns:ArrayOfRunner" />
  <xs:complexType name="Runner">
    <xs:sequence>
      <xs:element minOccurs="0" name="charity" nillable="true" type="tns:Charity" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registrationId" type="xs:int" />
      <xs:element minOccurs="0" name="sponsorshipTarget" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Runner" nillable="true" type="tns:Runner" />
  <xs:complexType name="Charity">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Charity" nillable="true" type="tns:Charity" />
</xs:schema>